
@font-face {
  font-family: 'Gilroy Ultra Light';
  src: url('./fonts/Gilroy-UltraLight.eot');
  src: url('./fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gilroy-UltraLight.woff') format('woff'),
  url('./fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Gilroy Ultra Light';
  /*font-family: 'Open Sans', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1FCFF;
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
